footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1d586c;
}

.btn {
  border-radius: 20px;
  width: 120px;
  height: 45px;
  background-color: #e399a9;
  font-weight: bold;
}
@media only screen and (max-width: 800px) {
  .btn {
    border-radius: 20px;
    width: 90px;
    height: 30px;
    background-color: #e399a9;
    font-weight: bold;
    font-size: 12px;
  }
}
