.header-logo {
  height: 27vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .header-logo {
    animation: header-logo infinite 20s linear;
  }
}

@keyframes header-logo {
  0% {
    transform: skewX(30deg);
  }

  100% {
    transform: skewX(-30deg);
  }
}

.lead {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: -1em;
  margin-bottom: 2em;
  opacity: 0.87;
}
